/********************************** left nav ber code start ***********************/
.main-sidebar,  .top_title{
    background: #303641 !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ffffff !important;
}

.menu-open{
    background-color: rgba(255,255,255,.05);!important;
    border-radius: 5px;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color:#eb9a20 !important
}
.sidebar .nav-sidebar>.nav-item>.nav-link.active>i.nav-icon{
    color: rgb(251 251 251 / 77%) !important;
}

/********************************** left nav ber code end ***********************/

.content-wrapper>.content{
    padding: 1rem;
}


.content-wrapper{
    position: relative;
}
.content-wrapper:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 160px;
    background: #4c6ef8 !important;
    border-radius: 0 0 10px 10px;
}
.content-header, .content-header ol li,  .content-header ol li a, .content-header div{
    color: #fff!important;
}
.content-header div{
    z-index: 11;
  }

.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}
